@model IEnumerable<NetCore_Forms.Entities.Brand>

<div class="row">
	@foreach (var brand in Model)
	{
		<h4>@brand.Name, @brand.FoundedAt, @brand.ContactEmail</h4>
		foreach (var car in brand.Cars)
		{
			<p>@car.Name, @car.ReleaseDate, @car.Type, @car.Power</p>
		}
	}
</div>